DISCORD_BOT_TOKEN=
DISCORD_BOT_PREFIX=!
DISCORD_LOGS_ENABLED=False

DISK_LOGS_ENABLED=True

INITIAL_DISPLAY_OUTPUT=True
INITIAL_PATH=""

# only change if you have multiple python installations
PYTHON_ALIAS=python